@charset "utf-8";
/* CSS Document */
.bottomlinks{
		margin:0px;
		padding:0px;
		float:left;
		width:275px;
		
		}
		
	.bottomlinks ul li{
		list-style:none;
		font-size:12px;
		padding:0px 0px 5px 10px;
		margin-top:5px;
		background-image:url(../images/bults.png);
	    background-position:left middle;
	    background-repeat:no-repeat;
		border-bottom:1px #454545 solid;
		
		
		}
		
		.bottomlinks ul li a:link{
		color:#898989;
		text-decoration:none;
		
		}
		.bottomlinks ul li a:active{
		color:#898989;
		text-decoration:none;
		
		}
		.bottomlinks ul li a:visited{
		color:#898989;
		text-decoration:none;
		
		}
		
		.bottomlinks ul li a:hover{
		color:#fff;
		
		}
		.wrapper_bottom_bg{
	width:100%;
	height:258px;
	float:left;
	background-image:url(../images/bottom_bg.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	background-color:#373737;}
	.bottom{
	width:957px;
	height:auto;
	margin:auto;
	padding-top:61px;}
	
	.banner{
	width:959px;
	height:322px;
	margin:auto;}
	.wrapper_content{
	width:100%;
	height:auto;
	float:left;
	background-image:url(../images/content_bg.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	background-color:#f8f8f8;}
	
	#wowslider-container1{
	width:989px;
	height:352px;
	position:relative;
	margin:0 auto;
	z-index:100;
}
#wowslider-container1 .ws_images{
	position: absolute;
	width:959px;
	height:322px;
	overflow:hidden;}
.menu ul
{

list-style: none;
position: relative;
display: inline-table;
}

.menu ul ul
{
display: none;
position: absolute; top: 100%;
}
/*display on hover*/


/*Floating the main list left*/
.menu ul li
{
float: left;
border-left: 1px solid #4093E6;
     border-right: 1px solid #246BB2;
}

.menu ul li:hover > a
{
color:#FFF;
background: #F60;
}

.menu ul li a
{
display: block; padding: 25px 40px;
color: #FFFFFF; text-decoration: none;
background-color:#630;
}
/*.menu ul li:hover > ul
{
display: block;
background: #ffffff;
}*/



.menu ul ul li
{
float: none;
border-bottom: 1px solid #E6E6E6;
border-top: 1px solid #E6E6E6;
border-left: none;
border-right: none;
position: relative;
}

.menu ul ul ul 
{
position: absolute; left: 100%; top:0;

}

.menu ul ul li a
{
padding: 15px 40px;
color:#999999;
}

.menu ul li:hover > ul
{
display: block;
background: #ffffff; padding:0;
border-left: 1px solid #E6E6E6;
border-right: 1px solid #E6E6E6;
}
body {
	
	background-color: #663300;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 100%;
	max-width: 1350px;
	min-width: 780px;
	background-color:transparent;
	background-color:#FFCC66;

	margin: 0 auto;
}

/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.header {
	background-color:#FFCC66;
	min-height:30%;

}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	padding: 10px 0;
	
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The footer ~~ */
.footer {
	padding: 10px 0;
	/*background-color: #6F7D94;*/
	background-image:url(../Images/images/brown-wood-plain-light-color-wallpaper.jpg);
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/*ul li:hover
{
	background-color: #F06 ;
}
ul
{
	display:inline;
 list-style-type:none;	
list-style:none;
padding:5px;
margin:5px;
}
ul li
{
	display:inline;
background-color: #09F;
	padding:10px 0px 10px 0px;	
}
ul li a
{
	text-decoration:none;
	background-color: #03F;
}
ul li ul
{display:none;
}
.sidebar1 {
	float: left;
	width: 20%;
	background-color: #93A5C4;
	padding-bottom: 10px;
}
ul.nav {
	list-style: none; /* this removes the list marker */
	/*border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	/*margin-bottom: 15px; /* this creates the space between the navigation on the content below */
/*}
ul.nav li {
	border-bottom: 1px solid #666; /* this creates the button separation */
/*}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	/*padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
/*	text-decoration: none;
	background-color: #8090AB;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	/**background-color: #6F7D94;
	color: #FFF;
}*/
table
{
	background-color:transparent;
}
}